.dropdown_menu {
    display: inline-block;
    position: relative;
}

.dropdown_button {
    background-color: #EBFCF4;
    border: 2px solid #285A3B;
    border-radius: 12px;
    padding: 10px 0 10px 5px;
}

.dropdown_button:hover {
    background-color: #FCF1F8;
}

.dropdown_chevron {
    color: #FEFAFD;
    height: 100%;
    border-radius: 0 10px 10px 0;
    background-color: #C35997;
    padding: 10px;
}

.dropdown_content {
    display: none;
    position: absolute;
    overflow: auto;
    background-color: #F7FEFA;
    border-radius: 10px;
}

.dropdown_item {
    padding: 2px 0 2px 5px;
}

.dropdown_item:hover {
    background-color: #81D1A6;
}

.dropdown_menu:hover .dropdown_content {
    display: block;
  }