.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--white);
  padding: var(--spacing-medium);
  border-bottom: var(--spacing-micro) solid var(--pink);
}

.heading {
  color: var(--pink);
  font-size: var(--font-size-extra-large);
}

.filters {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
